.verify-title {
  text-align: center;
  margin-bottom: 15px;
  color: #033452;
  font-size: 22px;
}

.verify-input {
  width: 100%;
  height: 42px;               
  padding: 0 12px;             
  margin-bottom: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;      
  outline: none;
}


.verify-btn {
  width: 100%;
  padding: 10px;
  background-color: #033452;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.verify-btn:hover {
  background-color: #02283d;
}
