
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}


.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8fafc; 
}


